# AOP-Wiki RDF statistics
This Jupyter notebook executes a variety of SPARQL queries against the AOP-Wiki RDF, extracting numbers of annotations of every type, number of entities, identifier types, and identifier mappings.

The notebook exists of 5 sections:
- Section 1: Imports and setting base variables
- Section 2: Metadata and general numbers of core AOP-Wiki RDF
- Section 3: Ontology usage in the core AOP-Wiki RDF
- Section 4: Identifier usage in the core AOP-Wiki RDF
- Section 5: Additional text-mapped genes

## Section 1: Imports, functions, and setting base variables

In [1]:
import sys

!{sys.executable} -m pip install --upgrade pip 
!{sys.executable} -m pip install watermark

try:
    from SPARQLWrapper import SPARQLWrapper, JSON
except ImportError:
    !{sys.executable} -m pip install sparqlwrapper
    from SPARQLWrapper import SPARQLWrapper, JSON

try:
    import pandas as pd
except ImportError:
    !{sys.executable} -m pip install pandas
    import pandas as pd
pd.set_option('display.max_colwidth', -1)

Requirement already satisfied: pip in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (21.0.1)
Requirement already satisfied: watermark in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (1.8.1)
Requirement already satisfied: ipython in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from watermark) (7.6.1)
Requirement already satisfied: pickleshare in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.7.5)
Requirement already satisfied: decorator in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.4.0)
Requirement already satisfied: jedi>=0.10 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.13.3)
Requirement already satisfied: backcall in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.1.0)
Requirement already satisfied: pexpect in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.7.0)
Requirement already satisfied: pygments in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (2.4.2)
Requirement already satisfied: setuptools>=18.5 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (41.0.1)
Requirement already satisfied: traitlets>=4.2 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.3.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (2.0.9)
Requirement already satisfied: parso>=0.3.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->watermark) (0.5.0)
Requirement already satisfied: wcwidth in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->watermark) (0.1.7)
Requirement already satisfied: six>=1.9.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->watermark) (1.12.0)
Requirement already satisfied: ipython-genutils in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->ipython->watermark) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->watermark) (0.6.0)

In [2]:
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [3]:
AOPWikiSPARQL = SPARQLWrapper("https://aopwiki.rdf.bigcat-bioinformatics.org/sparql/")
AOPWikiSPARQL.setReturnFormat(JSON) 
#core ontologies

In [14]:
triple = ['subject','predicate','object']
coretypes = ['aopo:AdverseOutcomePathway','aopo:KeyEvent','aopo:KeyEventRelationship','ncbitaxon:131567','go:0008150','pato:0001241','pato:0000001','aopo:CellTypeContext','aopo:OrganContext','nci:C54571','cheminf:000000'] 
ontologies = ['http://aopkb.org/aop_ontology#','http://edamontology.org/','http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#','http://purl.bioontology.org/ontology/NCBITAXON/','http://purl.obolibrary.org/obo/MMO','http://purl.obolibrary.org/obo/CL_','http://purl.obolibrary.org/obo/UBERON_','http://purl.obolibrary.org/obo/MI_','http://purl.obolibrary.org/obo/MP_','http://purl.org/commons/record/mesh/','http://purl.obolibrary.org/obo/HP_','http://purl.obolibrary.org/obo/PCO_','http://purl.obolibrary.org/obo/NBO_','http://purl.obolibrary.org/obo/VT_','http://purl.obolibrary.org/obo/PR_','http://purl.obolibrary.org/obo/CHEBI_','http://purl.org/sig/ont/fma/fma','http://xmlns.com/foaf/0.1/','http://www.w3.org/2004/02/skos/core#','http://www.w3.org/2000/01/rdf-schema#','http://www.w3.org/1999/02/22-rdf-syntax-ns#','http://semanticscience.org/resource/CHEMINF_','http://purl.obolibrary.org/obo/GO_','http://purl.org/dc/terms/','http://purl.org/dc/elements/1.1/','http://purl.obolibrary.org/obo/PATO_']
identifiers = []

## Section 2: Metadata and general numbers of core AOP-Wiki RDF

In [15]:
sparqlquery = '''select (COUNT(distinct *) as ?Triples)  where {?s ?p ?o}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()

for result in results["results"]["bindings"]:
    x = result["Triples"]["value"]

print("The AOP-Wiki RDF has " + str(x) + " triples")

The AOP-Wiki RDF has 122576 triples

In [16]:
for item in triple:
    sparqlquery = '''select (COUNT(distinct ?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " " + item + "s")

The AOP-Wiki RDF has 15132 subjects
The AOP-Wiki RDF has 158 predicates
The AOP-Wiki RDF has 53087 objects

## Section 3: Ontology usage in the core AOP-Wiki RDF

### AOP Ontology

In [18]:
for item in triple:
    sparqlquery = '''select  (COUNT(?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "http://aopkb.org/aop_ontology#")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        n = int(result["Entity"]["value"])

    print("The AOP-Wiki RDF has " + str(n) + " " + item + "s with the AOP Ontology")

The AOP-Wiki RDF has 5 subjects with the AOP Ontology
The AOP-Wiki RDF has 8913 predicates with the AOP Ontology
The AOP-Wiki RDF has 2937 objects with the AOP Ontology

In [19]:
for item in triple:
    sparqlquery = '''select (COUNT(DISTINCT ?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "http://aopkb.org/aop_ontology#")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " distinct " + item + " annotations with the AOP Ontology")

The AOP-Wiki RDF has 5 distinct subject annotations with the AOP Ontology
The AOP-Wiki RDF has 12 distinct predicate annotations with the AOP Ontology
The AOP-Wiki RDF has 5 distinct object annotations with the AOP Ontology

In [20]:
for item in coretypes:
    sparqlquery = '''select (COUNT(DISTINCT ?subject) as ?Entity)  where {?subject a ''' + item + '''.}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " Subjects of type: " + item)

The AOP-Wiki RDF has 316 Subjects of type: aopo:AdverseOutcomePathway
The AOP-Wiki RDF has 1131 Subjects of type: aopo:KeyEvent
The AOP-Wiki RDF has 1363 Subjects of type: aopo:KeyEventRelationship
The AOP-Wiki RDF has 124 Subjects of type: ncbitaxon:131567
The AOP-Wiki RDF has 369 Subjects of type: go:0008150
The AOP-Wiki RDF has 374 Subjects of type: pato:0001241
The AOP-Wiki RDF has 0 Subjects of type: pato:0000001
The AOP-Wiki RDF has 61 Subjects of type: aopo:CellTypeContext
The AOP-Wiki RDF has 66 Subjects of type: aopo:OrganContext
The AOP-Wiki RDF has 523 Subjects of type: nci:C54571
The AOP-Wiki RDF has 329 Subjects of type: cheminf:000000

### All ontologies used for predicate annotation

In [21]:
predicatedict = {}
for item in coretypes:
    predicates = pd.DataFrame(columns=['predicate','# of times used'])
    sparqlquery = '''select distinct ?predicate (COUNT(distinct ?subject) as ?Entity)  where {?subject ?predicate ?object; a '''+item+'''.}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()
    print("Predicates for triples of "+item+" subjects")
    for result in results["results"]["bindings"]:
        predicates = predicates.append({
            '# of times used' : result["Entity"]["value"],
            'predicate' : result["predicate"]["value"],
           # 'Chemical': result["Chemical"]["value"] if ('Chemical' in result'),
        }, ignore_index=True)
        if not item in predicatedict:
            predicatedict[item] = int(result["Entity"]["value"])
        else:
            predicatedict[item] += int(result["Entity"]["value"])
    display(predicates.sort_values(by=['predicate']).reset_index(drop=True))

Predicates for triples of aopo:AdverseOutcomePathway subjects

,predicate,# of times used
0,http://aopkb.org/aop_ontology#AopContext,82
1,http://aopkb.org/aop_ontology#LifeStageContext,151
2,http://aopkb.org/aop_ontology#has_adverse_outcome,286
3,http://aopkb.org/aop_ontology#has_evidence,71
4,http://aopkb.org/aop_ontology#has_key_event,296
5,http://aopkb.org/aop_ontology#has_key_event_relationship,275
6,http://aopkb.org/aop_ontology#has_molecular_initiating_event,268
7,http://edamontology.org/operation_3799,63
8,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25217,79
9,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25725,64
10,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C48192,75
11,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C54571,132
12,http://purl.obolibrary.org/obo/PATO_0000047,165
13,http://purl.org/dc/elements/1.1/creator,262
14,http://purl.org/dc/elements/1.1/description,188
15,http://purl.org/dc/elements/1.1/identifier,316
16,http://purl.org/dc/elements/1.1/source,316
17,http://purl.org/dc/elements/1.1/title,316
18,http://purl.org/dc/terms/abstract,173
19,http://purl.org/dc/terms/alternative,316
20,http://purl.org/dc/terms/created,316
21,http://purl.org/dc/terms/modified,316
22,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,316
23,http://www.w3.org/2000/01/rdf-schema#label,316
24,http://www.w3.org/2000/01/rdf-schema#seeAlso,316
25,http://xmlns.com/foaf/0.1/page,316

Predicates for triples of aopo:KeyEvent subjects

                                                    predicate # of times used
0   http://aopkb.org/aop_ontology#CellTypeContext              352
1   http://aopkb.org/aop_ontology#LifeStageContext             203
2   http://aopkb.org/aop_ontology#OrganContext                 217
3   http://edamontology.org/data_1025                          146
4   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25664  1131
5   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C54571  163
6   http://purl.bioontology.org/ontology/NCBITAXON/131567      291
7   http://purl.obolibrary.org/obo/GO_0008150                  611
8   http://purl.obolibrary.org/obo/MMO_0000000                 350
9   http://purl.obolibrary.org/obo/PATO_0000001                734
10  http://purl.obolibrary.org/obo/PATO_0000047                203
11  http://purl.obolibrary.org/obo/PATO_0001241                545
12  http://purl.org/dc/elements/1.1/description                380
13  http://purl.org/dc/elements/1.1/identifier                 1131
14  http://purl.org/dc/elements/1.1/source                     1131
15  http://purl.org/dc/elements/1.1/title                      1131
16  http://purl.org/dc/terms/alternative                       1131
17  http://purl.org/dc/terms/isPartOf                          1131
18  http://www.w3.org/1999/02/22-rdf-syntax-ns#type            1131
19  http://www.w3.org/2000/01/rdf-schema#label                 1131
20  http://www.w3.org/2000/01/rdf-schema#seeAlso               1131
21  http://xmlns.com/foaf/0.1/page                             1131

Predicates for triples of aopo:KeyEventRelationship subjects

                                                    predicate # of times used
0   http://aopkb.org/aop_ontology#LifeStageContext             209
1   http://aopkb.org/aop_ontology#has_downstream_key_event     1363
2   http://aopkb.org/aop_ontology#has_upstream_key_event       1363
3   http://edamontology.org/data_1025                          321
4   http://edamontology.org/data_2042                          359
5   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C71478  313
6   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C80263  369
7   http://purl.bioontology.org/ontology/NCBITAXON/131567      299
8   http://purl.obolibrary.org/obo/PATO_0000047                215
9   http://purl.org/dc/elements/1.1/description                370
10  http://purl.org/dc/elements/1.1/identifier                 1363
11  http://purl.org/dc/terms/created                           1363
12  http://purl.org/dc/terms/isPartOf                          1363
13  http://purl.org/dc/terms/modified                          1363
14  http://www.w3.org/1999/02/22-rdf-syntax-ns#type            1363
15  http://www.w3.org/2000/01/rdf-schema#label                 1363
16  http://www.w3.org/2000/01/rdf-schema#seeAlso               1363
17  http://xmlns.com/foaf/0.1/page                             1363

Predicates for triples of ncbitaxon:131567 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       124
1  http://purl.org/dc/elements/1.1/source           124
2  http://purl.org/dc/elements/1.1/title            124
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  124

Predicates for triples of go:0008150 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       369
1  http://purl.org/dc/elements/1.1/source           369
2  http://purl.org/dc/elements/1.1/title            369
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  369

Predicates for triples of pato:0001241 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       374
1  http://purl.org/dc/elements/1.1/source           374
2  http://purl.org/dc/elements/1.1/title            374
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  374
4  http://www.w3.org/2004/02/skos/core#exactMatch   126

Predicates for triples of pato:0000001 subjects

Empty DataFrame
Columns: [predicate, # of times used]
Index: []

Predicates for triples of aopo:CellTypeContext subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       61
1  http://purl.org/dc/elements/1.1/source           61
2  http://purl.org/dc/elements/1.1/title            61
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  61

Predicates for triples of aopo:OrganContext subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       66
1  http://purl.org/dc/elements/1.1/source           66
2  http://purl.org/dc/elements/1.1/title            66
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  66

Predicates for triples of nci:C54571 subjects

                                           predicate # of times used
0  http://aopkb.org/aop_ontology#has_chemical_entity  332
1  http://purl.org/dc/elements/1.1/description        10
2  http://purl.org/dc/elements/1.1/identifier         523
3  http://purl.org/dc/elements/1.1/title              523
4  http://purl.org/dc/terms/created                   523
5  http://purl.org/dc/terms/isPartOf                  523
6  http://purl.org/dc/terms/modified                  523
7  http://www.w3.org/1999/02/22-rdf-syntax-ns#type    523
8  http://www.w3.org/2000/01/rdf-schema#label         523
9  http://xmlns.com/foaf/0.1/page                     523

Predicates for triples of cheminf:000000 subjects

                                            predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier          329
1  http://purl.org/dc/elements/1.1/source              329
2  http://purl.org/dc/elements/1.1/title               329
3  http://purl.org/dc/terms/alternative                277
4  http://purl.org/dc/terms/isPartOf                   329
5  http://semanticscience.org/resource/CHEMINF_000059  320
6  http://semanticscience.org/resource/CHEMINF_000446  329
7  http://semanticscience.org/resource/CHEMINF_000568  329
8  http://www.w3.org/1999/02/22-rdf-syntax-ns#type     329
9  http://www.w3.org/2004/02/skos/core#exactMatch      327

### All predicate annotations combined

In [22]:
predicatedf = pd.DataFrame(list(predicatedict.items()), columns=['subject', 'number of properties']).sort_values(by=['subject']).reset_index(drop=True)
display(predicatedf)

                      subject  number of properties
0  aopo:AdverseOutcomePathway  5790
1  aopo:CellTypeContext        244
2  aopo:KeyEvent               15505
3  aopo:KeyEventRelationship   16085
4  aopo:OrganContext           264
5  cheminf:000000              3227
6  go:0008150                  1476
7  ncbitaxon:131567            496
8  nci:C54571                  4526
9  pato:0001241                1622

### All ontologies used for object annotation

In [23]:
objectdict = {}
for item in coretypes:
    objects = pd.DataFrame(columns=['object','# of times used'])
    print("objects for triples of "+item+" subjects")
    for onto in ontologies:
        n=0
        sparqlquery = '''select (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object; a '''+item+'''. FILTER regex(?object, "'''+onto+'''")}'''
        AOPWikiSPARQL.setQuery(sparqlquery)
        results = AOPWikiSPARQL.query().convert()
        
        for result in results["results"]["bindings"]:
            n+=int(result["Entity"]["value"])
            
            
        if n != 0:
            objects = objects.append({
                '# of times used' : n,
                'object' : onto,
               # 'Chemical': result["Chemical"]["value"] if ('Chemical' in result'),
            }, ignore_index=True)
            if not onto in objectdict:
                objectdict[onto] = n
            else:
                objectdict[onto] += n
    display(objects.sort_values(by=['object']).reset_index(drop=True))

objects for triples of aopo:AdverseOutcomePathway subjects

                           object # of times used
0  http://aopkb.org/aop_ontology#  316

objects for triples of aopo:KeyEvent subjects

                                             object # of times used
0   http://aopkb.org/aop_ontology#                   1131
1   http://purl.bioontology.org/ontology/NCBITAXON/  504
2   http://purl.obolibrary.org/obo/CHEBI_            151
3   http://purl.obolibrary.org/obo/CL_               418
4   http://purl.obolibrary.org/obo/GO_               540
5   http://purl.obolibrary.org/obo/HP_               10
6   http://purl.obolibrary.org/obo/MI_               6
7   http://purl.obolibrary.org/obo/MP_               77
8   http://purl.obolibrary.org/obo/NBO_              11
9   http://purl.obolibrary.org/obo/PCO_              10
10  http://purl.obolibrary.org/obo/PR_               203
11  http://purl.obolibrary.org/obo/UBERON_           261
12  http://purl.obolibrary.org/obo/VT_               9
13  http://purl.org/commons/record/mesh/             139
14  http://purl.org/sig/ont/fma/fma                  14

objects for triples of aopo:KeyEventRelationship subjects

                                            object # of times used
0  http://aopkb.org/aop_ontology#                   1363
1  http://purl.bioontology.org/ontology/NCBITAXON/  400

objects for triples of ncbitaxon:131567 subjects

                                            object # of times used
0  http://purl.bioontology.org/ontology/NCBITAXON/  248

objects for triples of go:0008150 subjects

                                 object # of times used
0  http://purl.obolibrary.org/obo/GO_    631
1  http://purl.obolibrary.org/obo/HP_    8
2  http://purl.obolibrary.org/obo/MI_    4
3  http://purl.obolibrary.org/obo/MP_    53
4  http://purl.obolibrary.org/obo/NBO_   8
5  http://purl.obolibrary.org/obo/PATO_  5
6  http://purl.obolibrary.org/obo/PCO_   1
7  http://purl.obolibrary.org/obo/VT_    7
8  http://purl.org/commons/record/mesh/  26

objects for triples of pato:0001241 subjects

                                    object # of times used
0   http://aopkb.org/aop_ontology#          42
1   http://purl.obolibrary.org/obo/CHEBI_   72
2   http://purl.obolibrary.org/obo/CL_      40
3   http://purl.obolibrary.org/obo/GO_      29
4   http://purl.obolibrary.org/obo/MP_      1
5   http://purl.obolibrary.org/obo/PATO_    374
6   http://purl.obolibrary.org/obo/PCO_     2
7   http://purl.obolibrary.org/obo/PR_      142
8   http://purl.obolibrary.org/obo/UBERON_  36
9   http://purl.org/commons/record/mesh/    47
10  http://purl.org/sig/ont/fma/fma         10

objects for triples of pato:0000001 subjects

Empty DataFrame
Columns: [object, # of times used]
Index: []

objects for triples of aopo:CellTypeContext subjects

                                 object # of times used
0  http://aopkb.org/aop_ontology#        61
1  http://purl.obolibrary.org/obo/CL_    61
2  http://purl.obolibrary.org/obo/PATO_  26

objects for triples of aopo:OrganContext subjects

                                   object # of times used
0  http://aopkb.org/aop_ontology#          66
1  http://purl.obolibrary.org/obo/PATO_    16
2  http://purl.obolibrary.org/obo/UBERON_  66

objects for triples of nci:C54571 subjects

                                                object # of times used
0  http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#  523

objects for triples of cheminf:000000 subjects

                                         object # of times used
0  http://semanticscience.org/resource/CHEMINF_  658

### All object annotations combined

In [24]:
objectdf = pd.DataFrame(list(objectdict.items()), columns=['object', 'number']).sort_values(by=['object']).reset_index(drop=True)
display(objectdf)

                                                 object  number
0   http://aopkb.org/aop_ontology#                       2979
1   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#  523
2   http://purl.bioontology.org/ontology/NCBITAXON/      1152
3   http://purl.obolibrary.org/obo/CHEBI_                223
4   http://purl.obolibrary.org/obo/CL_                   519
5   http://purl.obolibrary.org/obo/GO_                   1200
6   http://purl.obolibrary.org/obo/HP_                   18
7   http://purl.obolibrary.org/obo/MI_                   10
8   http://purl.obolibrary.org/obo/MP_                   131
9   http://purl.obolibrary.org/obo/NBO_                  19
10  http://purl.obolibrary.org/obo/PATO_                 421
11  http://purl.obolibrary.org/obo/PCO_                  13
12  http://purl.obolibrary.org/obo/PR_                   345
13  http://purl.obolibrary.org/obo/UBERON_               363
14  http://purl.obolibrary.org/obo/VT_                   16
15  http://purl.org/commons/record/mesh/                 212
16  http://purl.org/sig/ont/fma/fma                      24
17  http://semanticscience.org/resource/CHEMINF_         658

## Section 4: Identifier usage in the core AOP-Wiki RDF

In [26]:
for item in triple:
    sparqlquery = '''select (COUNT(?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "https://identifiers.org/")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " " + item + "s with a persistent identifier")

The AOP-Wiki RDF has 115591 subjects with a persistent identifier
The AOP-Wiki RDF has 0 predicates with a persistent identifier
The AOP-Wiki RDF has 36338 objects with a persistent identifier

### BridgeDb mappings for chemical identifiers

In [32]:
sparqlquery = '''select distinct ?type where {?s a cheminf:000000; skos:exactMatch ?o. ?o a ?type}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
for result in results["results"]["bindings"]:
    y.append(result["type"]["value"])

print("BridgeDb has mapped chemicals with identifiers from " + str(len(y)) + " distinct databases")

BridgeDb has mapped chemicals with identifiers from 9 distinct databases

In [33]:
for item in y:
    sparqlquery = '''select (COUNT(?subject) as ?Entity) ?item  where {?subject a <''' + item + '''>.  <''' + item + '''> rdfs:label ?item }'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]
        z = result["item"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " chemicals mapped using BridgeDb of type: " + z)

The AOP-Wiki RDF has 803 chemicals mapped using BridgeDb of type: ChEBI identifier
The AOP-Wiki RDF has 287 chemicals mapped using BridgeDb of type: ChEMBL identifier
The AOP-Wiki RDF has 343 chemicals mapped using BridgeDb of type: ChemSpider identifier
The AOP-Wiki RDF has 161 chemicals mapped using BridgeDb of type: DrugBank identifier
The AOP-Wiki RDF has 363 chemicals mapped using BridgeDb of type: HMDB identifier
The AOP-Wiki RDF has 264 chemicals mapped using BridgeDb of type: KEGG identifier
The AOP-Wiki RDF has 30 chemicals mapped using BridgeDb of type: LipidMaps identifier
The AOP-Wiki RDF has 338 chemicals mapped using BridgeDb of type: PubChem compound identifier (CID)
The AOP-Wiki RDF has 328 chemicals mapped using BridgeDb of type: Wikidata identifier

### Protein Ontology mappings to gene/protein identifiers

In [34]:
sparqlquery = '''select distinct ?s0 ?s ?type where {?s0 a aopo:KeyEvent; pato:0001241 ?s. ?s a pato:0001241; skos:exactMatch ?o. ?o a ?type}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
x = []
z = []
for result in results["results"]["bindings"]:
    y.append(result["type"]["value"])
    x.append(result["s"]["value"])
    z.append(result["s0"]["value"])
y = set(y)
x = set(x)
z = set(z)
print("The AOP-Wiki RDF has " + str(len(z)) + " Key Events that are annotated with " + str(len(x)) + " Protein Ontology annotation, which are mapped to gene identifiers from " + str(len(y)) + " distinct databases")

The AOP-Wiki RDF has 166 Key Events that are annotated with 126 Protein Ontology annotation, which are mapped to gene identifiers from 4 distinct databases

In [40]:
for item in y:
    sparqlquery = '''select (COUNT(distinct ?s2) as ?Entity) ?label where {?s a pato:0001241; skos:exactMatch ?s2. ?s2 ?p ?o; a <''' + item + '''>. <''' + item + '''> rdfs:label ?label}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]
        z = result["label"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " genes mapped to Protein Ontology terms for database identifier type: " + z)

The AOP-Wiki RDF has 447 genes mapped to Protein Ontology terms for database identifier type: UniProt ID
The AOP-Wiki RDF has 576 genes mapped to Protein Ontology terms for database identifier type: Gene identifier
The AOP-Wiki RDF has 32 genes mapped to Protein Ontology terms for database identifier type: Gene ID (NCBI)
The AOP-Wiki RDF has 97 genes mapped to Protein Ontology terms for database identifier type: Gene ID (HGNC)

## Section 5: Additional text-mapped genes

In [41]:
sparqlquery = '''select distinct ?s ?s2 where {?s a aopo:KeyEvent; edam:data_1025 ?s2.}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
z = []
for result in results["results"]["bindings"]:
    y.append(result["s2"]["value"])
    z.append(result["s"]["value"])
y = set(y)
z = set(z)

sparqlquery = '''select distinct ?s ?s2 where {?s a aopo:KeyEventRelationship; edam:data_1025 ?s2.}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
w = []
x = []
for result in results["results"]["bindings"]:
    w.append(result["s2"]["value"])
    x.append(result["s"]["value"])
w = set(w)
x = set(x)

print("The AOP-Wiki RDF has a total of " + str(len(y)) + " distinct genes mapped to " + str(len(z)) + " Key Event descriptions")
print("The AOP-Wiki RDF has a total of " + str(len(w)) + " distinct genes mapped to " + str(len(x)) + " Key Event Relationship descriptions")
print("There are " + str(len(intersection(w,y))) + " genes mapped at least once to both Key Events and Key Event Relationships")
print("There are " + str(len(w|y)) + " unique genes mapped to Key Events and/or Key Event Relationships")

The AOP-Wiki RDF has a total of 298 distinct genes mapped to 146 Key Event descriptions
The AOP-Wiki RDF has a total of 746 distinct genes mapped to 321 Key Event Relationship descriptions
There are 198 genes mapped at least once to both Key Events and Key Event Relationships
There are 846 unique genes mapped to Key Events and/or Key Event Relationships

In [69]:
#Dublin core
select (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object.FILTER regex(?predicate, "http://purl.org/dc/")}

SyntaxError: invalid syntax (<ipython-input-69-f3b3f004ca14>, line 2)

In [ ]:
# a
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://www.w3.org/1999/02/22-rdf-syntax-ns")}

In [ ]:
#rdf schema
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://www.w3.org/2000/01/rdf-schema")}

In [ ]:
# foaf
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://xmlns.com/foaf/0.1")}

In [ ]:
#aopo predicate
select  distinct ?predicate 
(COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "ttp://aopkb.org/aop_ontology#")}