# AOP-Wiki RDF statistics
This Jupyter notebook executes a variety of SPARQL queries against the AOP-Wiki RDF, extracting numbers of annotations of every type, number of entities, identifier types, and identifier mappings.

The notebook exists of 5 sections:
- Section 1: Imports and setting base variables
- Section 2: Metadata and general numbers of core AOP-Wiki RDF
- Section 3: Ontology usage in the core AOP-Wiki RDF
- Section 4: Identifier usage in the core AOP-Wiki RDF
- Section 5: Additional text-mapped genes

## Section 1: Imports, functions, and setting base variables

In [1]:
import sys

!{sys.executable} -m pip install --upgrade pip 
!{sys.executable} -m pip install watermark

try:
    from SPARQLWrapper import SPARQLWrapper, JSON
except ImportError:
    !{sys.executable} -m pip install sparqlwrapper
    from SPARQLWrapper import SPARQLWrapper, JSON

try:
    import pandas as pd
except ImportError:
    !{sys.executable} -m pip install pandas
    import pandas as pd
pd.set_option('display.max_colwidth', -1)

Requirement already up-to-date: pip in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (20.2.4)
Requirement already satisfied: watermark in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (1.8.1)
Requirement already satisfied: ipython in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from watermark) (7.6.1)
Requirement already satisfied: jedi>=0.10 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.13.3)
Requirement already satisfied: pickleshare in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.7.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (2.0.9)
Requirement already satisfied: backcall in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (41.0.1)
Requirement already satisfied: decorator in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.4.0)
Requirement already satisfied: pygments in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (2.4.2)
Requirement already satisfied: traitlets>=4.2 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from ipython->watermark) (4.3.2)
Requirement already satisfied: parso>=0.3.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->watermark) (0.5.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython->watermark) (0.6.0)
Requirement already satisfied: wcwidth in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->watermark) (0.1.7)
Requirement already satisfied: six>=1.9.0 in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->watermark) (1.12.0)
Requirement already satisfied: ipython-genutils in /home/marvin.martens/anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->ipython->watermark) (0.2.0)

In [2]:
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [3]:
AOPWikiSPARQL = SPARQLWrapper("http://aopwiki-rdf.prod.openrisknet.org/sparql/")
AOPWikiSPARQL.setReturnFormat(JSON) 
#core ontologies

In [10]:
triple = ['subject','predicate','object']
coretypes = ['aopo:AdverseOutcomePathway','aopo:KeyEvent','aopo:KeyEventRelationship','ncbitaxon:131567','go:0008150','pato:0001241','pato:0000001','aopo:CellTypeContext','aopo:OrganContext','nci:C54571','cheminf:000000'] 
ontologies = ['http://aopkb.org/aop_ontology#','http://edamontology.org/','http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#','http://purl.bioontology.org/ontology/NCBITAXON/','http://purl.obolibrary.org/obo/MMO','http://purl.obolibrary.org/obo/CL_','http://purl.obolibrary.org/obo/UBERON_','http://purl.obolibrary.org/obo/MI_','http://purl.obolibrary.org/obo/MP_','http://purl.org/commons/record/mesh/','http://purl.obolibrary.org/obo/HP_','http://purl.obolibrary.org/obo/PCO_','http://purl.obolibrary.org/obo/NBO_','http://purl.obolibrary.org/obo/VT_','http://purl.obolibrary.org/obo/PR_','http://purl.obolibrary.org/obo/CHEBI_','http://purl.org/sig/ont/fma/fma','http://xmlns.com/foaf/0.1/','http://www.w3.org/2004/02/skos/core#','http://www.w3.org/2000/01/rdf-schema#','http://www.w3.org/1999/02/22-rdf-syntax-ns#','http://semanticscience.org/resource/CHEMINF_','http://purl.org/obo/owl/GO','http://purl.org/dc/terms/','http://purl.org/dc/elements/1.1/','http://purl.obolibrary.org/obo/PATO_']
identifiers = []

## Section 2: Metadata and general numbers of core AOP-Wiki RDF

In [11]:
sparqlquery = '''select (COUNT(distinct *) as ?Triples)  where {?s ?p ?o}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()

for result in results["results"]["bindings"]:
    x = result["Triples"]["value"]

print("The AOP-Wiki RDF has " + str(x) + " triples")

The AOP-Wiki RDF has 115247 triples

In [12]:
for item in triple:
    sparqlquery = '''select (COUNT(distinct ?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " " + item + "s")

The AOP-Wiki RDF has 14727 subjects
The AOP-Wiki RDF has 156 predicates
The AOP-Wiki RDF has 51131 objects

## Section 3: Ontology usage in the core AOP-Wiki RDF

### AOP Ontology

In [13]:
for item in triple:
    sparqlquery = '''select  (COUNT(?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "http://aopkb.org/aop_ontology#")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        n = int(result["Entity"]["value"])

    print("The AOP-Wiki RDF has " + str(n) + " " + item + "s with the AOP Ontology")

The AOP-Wiki RDF has 0 subjects with the AOP Ontology
The AOP-Wiki RDF has 8615 predicates with the AOP Ontology
The AOP-Wiki RDF has 2886 objects with the AOP Ontology

In [14]:
for item in triple:
    sparqlquery = '''select (COUNT(DISTINCT ?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "http://aopkb.org/aop_ontology#")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " distinct " + item + " annotations with the AOP Ontology")

The AOP-Wiki RDF has 0 distinct subject annotations with the AOP Ontology
The AOP-Wiki RDF has 12 distinct predicate annotations with the AOP Ontology
The AOP-Wiki RDF has 5 distinct object annotations with the AOP Ontology

In [15]:
for item in coretypes:
    sparqlquery = '''select (COUNT(DISTINCT ?subject) as ?Entity)  where {?subject a ''' + item + '''.}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " Subjects of type: " + item)

The AOP-Wiki RDF has 306 Subjects of type: aopo:AdverseOutcomePathway
The AOP-Wiki RDF has 1118 Subjects of type: aopo:KeyEvent
The AOP-Wiki RDF has 1338 Subjects of type: aopo:KeyEventRelationship
The AOP-Wiki RDF has 99 Subjects of type: ncbitaxon:131567
The AOP-Wiki RDF has 367 Subjects of type: go:0008150
The AOP-Wiki RDF has 370 Subjects of type: pato:0001241
The AOP-Wiki RDF has 0 Subjects of type: pato:0000001
The AOP-Wiki RDF has 60 Subjects of type: aopo:CellTypeContext
The AOP-Wiki RDF has 64 Subjects of type: aopo:OrganContext
The AOP-Wiki RDF has 499 Subjects of type: nci:C54571
The AOP-Wiki RDF has 317 Subjects of type: cheminf:000000

### All ontologies used for predicate annotation

In [18]:
predicatedict = {}
for item in coretypes:
    predicates = pd.DataFrame(columns=['predicate','# of times used'])
    sparqlquery = '''select distinct ?predicate (COUNT(distinct ?subject) as ?Entity)  where {?subject ?predicate ?object; a '''+item+'''.}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()
    print("Predicates for triples of "+item+" subjects")
    for result in results["results"]["bindings"]:
        predicates = predicates.append({
            '# of times used' : result["Entity"]["value"],
            'predicate' : result["predicate"]["value"],
           # 'Chemical': result["Chemical"]["value"] if ('Chemical' in result'),
        }, ignore_index=True)
        if not item in predicatedict:
            predicatedict[item] = int(result["Entity"]["value"])
        else:
            predicatedict[item] += int(result["Entity"]["value"])
    display(predicates.sort_values(by=['predicate']).reset_index(drop=True))

Predicates for triples of aopo:AdverseOutcomePathway subjects

,predicate,# of times used
0,http://aopkb.org/aop_ontology#AopContext,77
1,http://aopkb.org/aop_ontology#LifeStageContext,146
2,http://aopkb.org/aop_ontology#has_adverse_outcome,273
3,http://aopkb.org/aop_ontology#has_evidence,67
4,http://aopkb.org/aop_ontology#has_key_event,284
5,http://aopkb.org/aop_ontology#has_key_event_relationship,262
6,http://aopkb.org/aop_ontology#has_molecular_initiating_event,256
7,http://edamontology.org/operation_3799,60
8,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25217,79
9,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25725,56
10,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C48192,69
11,http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C54571,129
12,http://purl.obolibrary.org/obo/PATO_0000047,159
13,http://purl.org/dc/elements/1.1/creator,246
14,http://purl.org/dc/elements/1.1/description,159
15,http://purl.org/dc/elements/1.1/identifier,306
16,http://purl.org/dc/elements/1.1/source,306
17,http://purl.org/dc/elements/1.1/title,306
18,http://purl.org/dc/terms/abstract,164
19,http://purl.org/dc/terms/alternative,306
20,http://purl.org/dc/terms/created,306
21,http://purl.org/dc/terms/modified,306
22,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,306
23,http://www.w3.org/2000/01/rdf-schema#label,306
24,http://xmlns.com/foaf/0.1/page,306

Predicates for triples of aopo:KeyEvent subjects

                                                    predicate # of times used
0   http://aopkb.org/aop_ontology#CellTypeContext              348
1   http://aopkb.org/aop_ontology#LifeStageContext             192
2   http://aopkb.org/aop_ontology#OrganContext                 213
3   http://edamontology.org/data_1025                          141
4   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C25664  1118
5   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C54571  155
6   http://purl.bioontology.org/ontology/NCBITAXON/131567      247
7   http://purl.obolibrary.org/obo/MMO_0000000                 342
8   http://purl.obolibrary.org/obo/PATO_0000001                730
9   http://purl.obolibrary.org/obo/PATO_0000047                189
10  http://purl.obolibrary.org/obo/PATO_0001241                542
11  http://purl.org/dc/elements/1.1/description                371
12  http://purl.org/dc/elements/1.1/identifier                 1118
13  http://purl.org/dc/elements/1.1/source                     1118
14  http://purl.org/dc/elements/1.1/title                      1118
15  http://purl.org/dc/terms/alternative                       1118
16  http://purl.org/dc/terms/isPartOf                          1118
17  http://purl.org/obo/owl/GO#0008150                         606
18  http://www.w3.org/1999/02/22-rdf-syntax-ns#type            1118
19  http://www.w3.org/2000/01/rdf-schema#label                 1118
20  http://xmlns.com/foaf/0.1/page                             1118

Predicates for triples of aopo:KeyEventRelationship subjects

                                                    predicate # of times used
0   http://aopkb.org/aop_ontology#LifeStageContext             202
1   http://aopkb.org/aop_ontology#has_downstream_key_event     1338
2   http://aopkb.org/aop_ontology#has_upstream_key_event       1338
3   http://edamontology.org/data_1025                          315
4   http://edamontology.org/data_2042                          353
5   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C71478  305
6   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C80263  365
7   http://purl.bioontology.org/ontology/NCBITAXON/131567      230
8   http://purl.obolibrary.org/obo/PATO_0000047                208
9   http://purl.org/dc/elements/1.1/description                363
10  http://purl.org/dc/elements/1.1/identifier                 1338
11  http://purl.org/dc/terms/created                           1338
12  http://purl.org/dc/terms/isPartOf                          1338
13  http://purl.org/dc/terms/modified                          1338
14  http://www.w3.org/1999/02/22-rdf-syntax-ns#type            1338
15  http://www.w3.org/2000/01/rdf-schema#label                 1338
16  http://xmlns.com/foaf/0.1/page                             1338

Predicates for triples of ncbitaxon:131567 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       99
1  http://purl.org/dc/elements/1.1/source           99
2  http://purl.org/dc/elements/1.1/title            99
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  99

Predicates for triples of go:0008150 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       367
1  http://purl.org/dc/elements/1.1/source           367
2  http://purl.org/dc/elements/1.1/title            367
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  367

Predicates for triples of pato:0001241 subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       370
1  http://purl.org/dc/elements/1.1/source           370
2  http://purl.org/dc/elements/1.1/title            370
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  370
4  http://www.w3.org/2004/02/skos/core#exactMatch   126

Predicates for triples of pato:0000001 subjects

Empty DataFrame
Columns: [predicate, # of times used]
Index: []

Predicates for triples of aopo:CellTypeContext subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       60
1  http://purl.org/dc/elements/1.1/source           60
2  http://purl.org/dc/elements/1.1/title            60
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  60

Predicates for triples of aopo:OrganContext subjects

                                         predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier       64
1  http://purl.org/dc/elements/1.1/source           64
2  http://purl.org/dc/elements/1.1/title            64
3  http://www.w3.org/1999/02/22-rdf-syntax-ns#type  64

Predicates for triples of nci:C54571 subjects

                                           predicate # of times used
0  http://aopkb.org/aop_ontology#has_chemical_entity  320
1  http://purl.org/dc/elements/1.1/description        10
2  http://purl.org/dc/elements/1.1/identifier         499
3  http://purl.org/dc/elements/1.1/title              499
4  http://purl.org/dc/terms/created                   499
5  http://purl.org/dc/terms/isPartOf                  499
6  http://purl.org/dc/terms/modified                  499
7  http://www.w3.org/1999/02/22-rdf-syntax-ns#type    499
8  http://www.w3.org/2000/01/rdf-schema#label         499
9  http://xmlns.com/foaf/0.1/page                     499

Predicates for triples of cheminf:000000 subjects

                                            predicate # of times used
0  http://purl.org/dc/elements/1.1/identifier          317
1  http://purl.org/dc/elements/1.1/source              317
2  http://purl.org/dc/elements/1.1/title               317
3  http://purl.org/dc/terms/alternative                266
4  http://purl.org/dc/terms/isPartOf                   317
5  http://semanticscience.org/resource/CHEMINF_000059  308
6  http://semanticscience.org/resource/CHEMINF_000446  317
7  http://semanticscience.org/resource/CHEMINF_000568  317
8  http://www.w3.org/1999/02/22-rdf-syntax-ns#type     317
9  http://www.w3.org/2004/02/skos/core#exactMatch      315

### All predicate annotations combined

In [22]:
predicatedf = pd.DataFrame(list(predicatedict.items()), columns=['subject', 'number of properties']).sort_values(by=['subject']).reset_index(drop=True)
display(predicatedf)

                      subject  number of properties
0  aopo:AdverseOutcomePathway  8184
1  aopo:CellTypeContext        261
2  aopo:KeyEvent               15556
3  aopo:KeyEventRelationship   15881
4  aopo:OrganContext           258
5  cheminf:CHEMINF_000000      9869
6  go:0008150                  1417
7  ncbitaxon:131567            373
8  nci:C54571                  4821
9  pato:PATO_0001241           2046

### All ontologies used for object annotation

In [11]:
objectdict = {}
for item in coretypes:
    objects = pd.DataFrame(columns=['object','# of times used'])
    print("objects for triples of "+item+" subjects")
    for onto in ontologies:
        n=0
        sparqlquery = '''select (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object; a '''+item+'''. FILTER regex(?object, "'''+onto+'''")}'''
        AOPWikiSPARQL.setQuery(sparqlquery)
        results = AOPWikiSPARQL.query().convert()
        
        for result in results["results"]["bindings"]:
            n+=int(result["Entity"]["value"])
            
            
        if n != 0:
            objects = objects.append({
                '# of times used' : n,
                'object' : onto,
               # 'Chemical': result["Chemical"]["value"] if ('Chemical' in result'),
            }, ignore_index=True)
            if not onto in objectdict:
                objectdict[onto] = n
            else:
                objectdict[onto] += n
    display(objects.sort_values(by=['object']).reset_index(drop=True))

objects for triples of aopo:AdverseOutcomePathway subjects

                           object # of times used
0  http://aopkb.org/aop_ontology#  280

objects for triples of aopo:KeyEvent subjects

                                             object # of times used
0   http://aopkb.org/aop_ontology#                   1080
1   http://purl.bioontology.org/ontology/NCBITAXON/  410
2   http://purl.obolibrary.org/obo/CHEBI_            148
3   http://purl.obolibrary.org/obo/CL_               403
4   http://purl.obolibrary.org/obo/HP_               8
5   http://purl.obolibrary.org/obo/MI_               7
6   http://purl.obolibrary.org/obo/MP_               77
7   http://purl.obolibrary.org/obo/NBO_              10
8   http://purl.obolibrary.org/obo/PCO_              8
9   http://purl.obolibrary.org/obo/PR_               199
10  http://purl.obolibrary.org/obo/UBERON_           239
11  http://purl.obolibrary.org/obo/VT_               9
12  http://purl.org/commons/record/mesh/             140
13  http://purl.org/obo/owl/GO                       515
14  http://purl.org/sig/ont/fma/fma                  12

objects for triples of aopo:KeyEventRelationship subjects

                                            object # of times used
0  http://aopkb.org/aop_ontology#                   1259
1  http://purl.bioontology.org/ontology/NCBITAXON/  333

objects for triples of ncbitaxon:131567 subjects

                                            object # of times used
0  http://purl.bioontology.org/ontology/NCBITAXON/  176

objects for triples of go:0008150 subjects

                                 object # of times used
0  http://purl.obolibrary.org/obo/HP_    6
1  http://purl.obolibrary.org/obo/MI_    5
2  http://purl.obolibrary.org/obo/MP_    53
3  http://purl.obolibrary.org/obo/NBO_   7
4  http://purl.obolibrary.org/obo/PATO_  5
5  http://purl.obolibrary.org/obo/PCO_   1
6  http://purl.obolibrary.org/obo/VT_    7
7  http://purl.org/commons/record/mesh/  27
8  http://purl.org/obo/owl/GO            600

objects for triples of pato:PATO_0001241 subjects

                                    object # of times used
0   http://aopkb.org/aop_ontology#          39
1   http://purl.obolibrary.org/obo/CHEBI_   69
2   http://purl.obolibrary.org/obo/CL_      38
3   http://purl.obolibrary.org/obo/MP_      1
4   http://purl.obolibrary.org/obo/PATO_    358
5   http://purl.obolibrary.org/obo/PCO_     2
6   http://purl.obolibrary.org/obo/PR_      140
7   http://purl.obolibrary.org/obo/UBERON_  32
8   http://purl.org/commons/record/mesh/    47
9   http://purl.org/obo/owl/GO              26
10  http://purl.org/sig/ont/fma/fma         8

objects for triples of pato:PATO_0000001 subjects

Empty DataFrame
Columns: [object, # of times used]
Index: []

objects for triples of aopo:CellTypeContext subjects

                                 object # of times used
0  http://aopkb.org/aop_ontology#        59
1  http://purl.obolibrary.org/obo/CL_    59
2  http://purl.obolibrary.org/obo/PATO_  25

objects for triples of aopo:OrganContext subjects

                                   object # of times used
0  http://aopkb.org/aop_ontology#          61
1  http://purl.obolibrary.org/obo/PATO_    14
2  http://purl.obolibrary.org/obo/UBERON_  61

objects for triples of nci:C54571 subjects

                                                object # of times used
0  http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#  454

objects for triples of cheminf:CHEMINF_000000 subjects

                                         object # of times used
0  http://semanticscience.org/resource/CHEMINF_  586

### All object annotations combined

In [12]:
objectdf = pd.DataFrame(list(objectdict.items()), columns=['object', 'number']).sort_values(by=['object']).reset_index(drop=True)
display(objectdf)

                                                 object  number
0   http://aopkb.org/aop_ontology#                       2778
1   http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#  454
2   http://purl.bioontology.org/ontology/NCBITAXON/      919
3   http://purl.obolibrary.org/obo/CHEBI_                217
4   http://purl.obolibrary.org/obo/CL_                   500
5   http://purl.obolibrary.org/obo/HP_                   14
6   http://purl.obolibrary.org/obo/MI_                   12
7   http://purl.obolibrary.org/obo/MP_                   131
8   http://purl.obolibrary.org/obo/NBO_                  17
9   http://purl.obolibrary.org/obo/PATO_                 402
10  http://purl.obolibrary.org/obo/PCO_                  11
11  http://purl.obolibrary.org/obo/PR_                   339
12  http://purl.obolibrary.org/obo/UBERON_               332
13  http://purl.obolibrary.org/obo/VT_                   16
14  http://purl.org/commons/record/mesh/                 214
15  http://purl.org/obo/owl/GO                           1141
16  http://purl.org/sig/ont/fma/fma                      20
17  http://semanticscience.org/resource/CHEMINF_         586

## Section 4: Identifier usage in the core AOP-Wiki RDF

In [14]:
for item in triple:
    sparqlquery = '''select (COUNT(?''' + item + ''') as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?''' + item + ''', "http://identifiers.org/")}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " " + item + "s with a persistent identifier")

The AOP-Wiki RDF has 57375 subjects with a persistent identifier
The AOP-Wiki RDF has 0 predicates with a persistent identifier
The AOP-Wiki RDF has 20096 objects with a persistent identifier

### BridgeDb mappings for chemical identifiers

In [15]:
sparqlquery = '''select distinct ?type where {?s a cheminf:CHEMINF_000000; skos:exactMatch ?o. ?o a ?type}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
for result in results["results"]["bindings"]:
    y.append(result["type"]["value"])

print("BridgeDb has mapped chemicals with identifiers from " + str(len(y)) + " distinct databases")

BridgeDb has mapped chemicals with identifiers from 8 distinct databases

In [16]:
for item in y:
    sparqlquery = '''select (COUNT(?subject) as ?Entity)  where {?subject a <''' + item + '''>}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " chemicals mapped using BridgeDb of type: " + item)

The AOP-Wiki RDF has 712 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000407
The AOP-Wiki RDF has 257 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000412
The AOP-Wiki RDF has 303 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000405
The AOP-Wiki RDF has 146 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000406
The AOP-Wiki RDF has 319 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000408
The AOP-Wiki RDF has 24 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000564
The AOP-Wiki RDF has 299 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000140
The AOP-Wiki RDF has 293 chemicals mapped using BridgeDb of type: http://semanticscience.org/resource/CHEMINF_000567

### Protein Ontology mappings to gene/protein identifiers

In [17]:
sparqlquery = '''select distinct ?s0 ?s ?type where {?s0 a aopo:KeyEvent; pato:PATO_0001241 ?s. ?s a pato:PATO_0001241; skos:exactMatch ?o. ?o a ?type}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
x = []
z = []
for result in results["results"]["bindings"]:
    y.append(result["type"]["value"])
    x.append(result["s"]["value"])
    z.append(result["s0"]["value"])
y = set(y)
x = set(x)
z = set(z)
print("The AOP-Wiki RDF has " + str(len(z)) + " Key Events that are annotated with " + str(len(x)) + " Protein Ontology annotation, which are mapped to gene identifiers from " + str(len(y)) + " distinct databases")

The AOP-Wiki RDF has 163 Key Events that are annotated with 124 Protein Ontology annotation, which are mapped to gene identifiers from 4 distinct databases

In [18]:
for item in y:
    sparqlquery = '''select (COUNT(distinct ?s2) as ?Entity)  where {?s a pato:PATO_0001241; skos:exactMatch ?s2. ?s2 ?p ?o; a <''' + item + '''>}'''
    AOPWikiSPARQL.setQuery(sparqlquery)
    results = AOPWikiSPARQL.query().convert()

    for result in results["results"]["bindings"]:
        x = result["Entity"]["value"]

    print("The AOP-Wiki RDF has " + str(x) + " genes mapped to Protein Ontology terms for database identifier type: " + item)

The AOP-Wiki RDF has 95 genes mapped to Protein Ontology terms for database identifier type: http://edamontology.org/data_2298
The AOP-Wiki RDF has 443 genes mapped to Protein Ontology terms for database identifier type: http://edamontology.org/data_2291
The AOP-Wiki RDF has 570 genes mapped to Protein Ontology terms for database identifier type: http://edamontology.org/data_1025
The AOP-Wiki RDF has 32 genes mapped to Protein Ontology terms for database identifier type: http://edamontology.org/data_1027

## Section 5: Additional text-mapped genes

In [19]:
sparqlquery = '''select distinct ?s ?s2 where {?s a aopo:KeyEvent; edam:data_1025 ?s2.}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
y = []
z = []
for result in results["results"]["bindings"]:
    y.append(result["s2"]["value"])
    z.append(result["s"]["value"])
y = set(y)
z = set(z)

sparqlquery = '''select distinct ?s ?s2 where {?s a aopo:KeyEventRelationship; edam:data_1025 ?s2.}'''
AOPWikiSPARQL.setQuery(sparqlquery)
results = AOPWikiSPARQL.query().convert()
w = []
x = []
for result in results["results"]["bindings"]:
    w.append(result["s2"]["value"])
    x.append(result["s"]["value"])
w = set(w)
x = set(x)

print("The AOP-Wiki RDF has a total of " + str(len(y)) + " distinct genes mapped to " + str(len(z)) + " Key Event descriptions")
print("The AOP-Wiki RDF has a total of " + str(len(w)) + " distinct genes mapped to " + str(len(x)) + " Key Event Relationship descriptions")
print("There are " + str(len(intersection(w,y))) + " genes mapped at least once to both Key Events and Key Event Relationships")
print("There are " + str(len(w|y)) + " unique genes mapped to Key Events and/or Key Event Relationships")

The AOP-Wiki RDF has a total of 284 distinct genes mapped to 132 Key Event descriptions
The AOP-Wiki RDF has a total of 709 distinct genes mapped to 294 Key Event Relationship descriptions
There are 197 genes mapped at least once to both Key Events and Key Event Relationships
There are 796 unique genes mapped to Key Events and/or Key Event Relationships

In [ ]:
#Dublin core
select (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object.FILTER regex(?predicate, "http://purl.org/dc/")}

In [ ]:
# a
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://www.w3.org/1999/02/22-rdf-syntax-ns")}

In [ ]:
#rdf schema
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://www.w3.org/2000/01/rdf-schema")}

In [ ]:
# foaf
select  (COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "http://xmlns.com/foaf/0.1")}

In [ ]:
#aopo predicate
select  distinct ?predicate 
(COUNT(?object) as ?Entity)  where {?subject ?predicate ?object. FILTER regex(?predicate, "ttp://aopkb.org/aop_ontology#")}